SERVER_PORT=3000

# Mongodb database cluster :

MONGODB_CLUSTER_USERNAME=
MONGODB_CLUSTER_PASSWORD=

# Mongodb compass connection :

MONGODB_CONNECTION_STRING=

# Cors Origin :

CORS_ORIGIN=*

# Access tokens :

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=